@font-face {
  font-family: "iconfont"; /* Project id 3221254 */
  src: url('iconfont.woff2?t=1646792247380') format('woff2'),
       url('iconfont.woff?t=1646792247380') format('woff'),
       url('iconfont.ttf?t=1646792247380') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e615";
}

.icon-logout:before {
  content: "\e637";
}

.icon-fenlei:before {
  content: "\e621";
}

.icon-my:before {
  content: "\e608";
}

.icon-book-open:before {
  content: "\e606";
}

